E<div id="main-content" class="card">
  <header>
    <h1 id="fxa-password-manager-header">{{#t}}Password Manager{{/t}}</h1>
  </header>


    <div class="error"></div>
    <div class="success"></div>

    <div class="container">
      <div class="login-list-box">
        <div class="search-box">
          <input type="text" class="login-search">
        </div>
        <div class="login-list-wrapper">
          <ul class="login-list">

          </ul>
        </div>
      </div>
      <div class="login-detail">
        <div class="login-item">
          <strong class="page-name"></strong>
          <span class="domain"></span>
        </div>
        <div class="login-content">
          <input type="text" id="login-username" class="login-field"><button class="copy"></button><br>
          <input type="text" id="login-password" class="login-field"><button class="copy"></button>
        </div>
          <a id="add" href="#">Add</a>
          <a id="save">Save</a>
          <a id="delete">Delete</a>
      
              {{#canGoBack}}
      <div class="links back-button">
        <a id="back" href="#">{{#t}}Back{{/t}}</a>
      </div>
    {{/canGoBack}}
      </div>
    </div>



