<div id="main-content" class="card">
  <header>
    <h1 id="fxa-password-manager-header">{{#t}}Password Manager{{/t}}</h1>
  </header>


    <div class="error"></div>
    <div class="success"></div>

    <div class="container">
      <div class="login-list-box">
        <div class="search-box">
          <input type="text" class="login-search">
        </div>
        <div class="login-list-wrapper">
          <ul class="login-list">
            <li class="login-item">
              <strong class="page-name">Adobe</strong>
              <span class="domain">user@domain.com</span>
            </li>
            <li class="login-item red-globe">
              <strong class="page-name">Airbnb</strong>
              <span class="domain">user@domain.com</span>
            </li>
            <li class="login-item yellow-globe">
              <strong class="page-name">Air Canada</strong>
              <span class="domain">user@domain.com</span>
            </li>
            <li class="login-item blue-globe">
              <strong class="page-name">Amazon</strong>
              <span class="domain">user@domain.com</span>
            </li>
            <li class="login-item red-globe">
              <strong class="page-name">Facebook</strong>
              <span class="domain">user@domain.com</span>
            </li>
            <li class="login-item">
              <strong class="page-name">Google</strong>
              <span class="domain">user@domain.com</span>
            </li>
            <li class="login-item">
              <strong class="page-name">Maiores?</strong>
              <span class="domain">user@domain.com</span>
            </li>
            <li class="login-item">
              <strong class="page-name">Iure.</strong>
              <span class="domain">user@domain.com</span>
            </li>
            <li class="login-item">
              <strong class="page-name">Excepturi!</strong>
              <span class="domain">user@domain.com</span>
            </li>
            <li class="login-item">
              <strong class="page-name">Dolorum?</strong>
              <span class="domain">user@domain.com</span>
            </li>
            <li class="login-item">
              <strong class="page-name">Debitis!</strong>
              <span class="domain">user@domain.com</span>
            </li>
            <li class="login-item">
              <strong class="page-name">Voluptatibus.</strong>
              <span class="domain">user@domain.com</span>
            </li>
            <li class="login-item">
              <strong class="page-name">Et.</strong>
              <span class="domain">user@domain.com</span>
            </li>
            <li class="login-item">
              <strong class="page-name">Temporibus.</strong>
              <span class="domain">user@domain.com</span>
            </li>
            <li class="login-item">
              <strong class="page-name">Officia!</strong>
              <span class="domain">user@domain.com</span>
            </li>
            <li class="login-item">
              <strong class="page-name">Dolores.</strong>
              <span class="domain">user@domain.com</span>
            </li>
            <li class="login-item">
              <strong class="page-name">Alias?</strong>
              <span class="domain">user@domain.com</span>
            </li>
            <li class="login-item">
              <strong class="page-name">Cupiditate?</strong>
              <span class="domain">user@domain.com</span>
            </li>
            <li class="login-item">
              <strong class="page-name">Mollitia.</strong>
              <span class="domain">user@domain.com</span>
            </li>
            <li class="login-item">
              <strong class="page-name">Voluptate.</strong>
              <span class="domain">user@domain.com</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="login-detail">
        <div class="login-item">
          <strong class="page-name">Adobe</strong>
          <span class="domain">user@domain.com</span>
        </div>
        <div class="login-content">
          <input type="text" id="login-username" class="login-field"><button class="copy"></button><br>
          <input type="password" id="login-password" class="login-field"><button class="copy"></button>
        </div>
              {{#canGoBack}}
      <div class="links back-button">
        <a id="back" href="#">{{#t}}Back{{/t}}</a>
      </div>
    {{/canGoBack}}
      </div>
    </div>



