<div id="main-content" class="card">
  <header>
    <h1 id="fxa-password-manager-header">{{#t}}Password Manager{{/t}}</h1>
  </header>

  <section>
    <div class="error"></div>
    <div class="success"></div>
    <table width ="100%" border="0.5">
      <tr>
        <td width="10%"></td>
        <td width="30%">Site</td>
        <td width="30%">Username</td>
        <td width="30%">Password</td>
      </tr>
      <tr>
        <td class="globe"></td>
        <td align="left">https://mail.google.com</td>
        <td align="left">riadh.chtara@gmail.com</td>
        <td align="left">
          <form novalidate>
            <div class="input-row password-row">
              <label class="label-helper"></label>
              <input type="password" class="password" id="old_password" value="password" />

              <input id="show-old-password" type="checkbox" class="show-password" aria-controls="old_password" tabindex="-1" data-novalue />
              <label for="show-old-password" class="show-password-label">
                {{#t}}Show{{/t}}
              </label>
            </div>
          </form>
        </td>
      </tr>
      <tr>
        <td class="globe"></td>
        <td align="left">https://mail.google.com</td>
        <td align="left">rchtara@mozilla.com</td>
        <td align="left">
          <form novalidate>
            <div class="input-row password-row">
              <label class="label-helper"></label>
              <input type="password" class="password" id="old_password" value="password" />

              <input id="show-old-password" type="checkbox" class="show-password" aria-controls="old_password" tabindex="-1" data-novalue />
              <label for="show-old-password" class="show-password-label">
                {{#t}}Show{{/t}}
              </label>
            </div>
          </form>
        </td>
      </tr>
      <tr>
        <td class="globe"></td>
        <td align="left">https://www.facebook.com/</td>
        <td align="left">riadh.chtara@gmail.com</td>
        <td align="left">
          <form novalidate>
            <div class="input-row password-row">
              <label class="label-helper"></label>
              <input type="password" class="password" id="old_password" value="password" />

              <input id="show-old-password" type="checkbox" class="show-password" aria-controls="old_password" tabindex="-1" data-novalue />
              <label for="show-old-password" class="show-password-label">
                {{#t}}Show{{/t}}
              </label>
            </div>
          </form>
        </td>
      </tr>
      <tr>
        <td class="globe"></td>
        <td align="left">https://accounts.firefox.com</td>
        <td align="left">riadh.chtara@gmail.com</td>
        <td align="left">
          <form novalidate>
            <div class="input-row password-row">
              <label class="label-helper"></label>
              <input type="password" class="password" id="old_password" value="password" />

              <input id="show-old-password" type="checkbox" class="show-password" aria-controls="old_password" tabindex="-1" data-novalue />
              <label for="show-old-password" class="show-password-label">
                {{#t}}Show{{/t}}
              </label>
            </div>
          </form>
        </td>
      </tr>
      <tr>
        <td class="globe"></td>
        <td align="left">https://mail.google.com</td>
        <td align="left">riadh.chtara@gmail.com</td>
        <td align="left">
          <form novalidate>
            <div class="input-row password-row">
              <label class="label-helper"></label>
              <input type="password" class="password" id="old_password" value="password" />

              <input id="show-old-password" type="checkbox" class="show-password" aria-controls="old_password" tabindex="-1" data-novalue />
              <label for="show-old-password" class="show-password-label">
                {{#t}}Show{{/t}}
              </label>
            </div>
          </form>
        </d>
      </tr>
      <tr>
        <td class="globe"></td>
        <td align="left">https://mail.google.com</td>
        <td align="left">riadh.chtara@gmail.com</td>
        <td align="left">
          <form novalidate>
            <div class="input-row password-row">
              <label class="label-helper"></label>
              <input type="password" class="password" id="old_password" value="password" />

              <input id="show-old-password" type="checkbox" class="show-password" aria-controls="old_password" tabindex="-1" data-novalue />
              <label for="show-old-password" class="show-password-label">
                {{#t}}Show{{/t}}
              </label>
            </div>
          </form>
        </td>
      </tr>
      <tr>
        <td class="globe"></td>
        <td align="left">https://mail.google.com</td>
        <td align="left">riadh.chtara@gmail.com</td>
        <td align="left">
          <form novalidate>
            <div class="input-row password-row">
              <label class="label-helper"></label>
              <input type="password" class="password" id="old_password" value="password" />

              <input id="show-old-password" type="checkbox" class="show-password" aria-controls="old_password" tabindex="-1" data-novalue />
              <label for="show-old-password" class="show-password-label">
                {{#t}}Show{{/t}}
              </label>
            </div>
          </form>
        </td>
      </tr>
      <tr>
        <td class="globe"></td>
        <td align="left">https://mail.google.com</td>
        <td align="left">riadh.chtara@gmail.com</td>
        <td align="left">
          <form novalidate>
            <div class="input-row password-row">
              <label class="label-helper"></label>
              <input type="password" class="password" id="old_password" value="password" />

              <input id="show-old-password" type="checkbox" class="show-password" aria-controls="old_password" tabindex="-1" data-novalue />
              <label for="show-old-password" class="show-password-label">
                {{#t}}Show{{/t}}
              </label>
            </div>
          </form>
        </td>
      </tr>
      <tr>
        <td class="globe"></td>
        <td align="left">https://mail.google.com</td>
        <td align="left">riadh.chtara@gmail.com</td>
        <td align="left">
          <form novalidate>
            <div class="input-row password-row">
              <label class="label-helper"></label>
              <input type="password" class="password" id="old_password" value="password" />

              <input id="show-old-password" type="checkbox" class="show-password" aria-controls="old_password" tabindex="-1" data-novalue />
              <label for="show-old-password" class="show-password-label">
                {{#t}}Show{{/t}}
              </label>
            </div>
          </form>
        </td>
      </tr>
      <tr>
        <td class="globe"></td>
        <td align="left">https://mail.google.com</td>
        <td align="left">riadh.chtara@gmail.com</td>
        <td align="left">
          <form novalidate>
            <div class="input-row password-row">
              <label class="label-helper"></label>
              <input type="password" class="password" id="old_password" value="password" />

              <input id="show-old-password" type="checkbox" class="show-password" aria-controls="old_password" tabindex="-1" data-novalue />
              <label for="show-old-password" class="show-password-label">
                {{#t}}Show{{/t}}
              </label>
            </div>
          </form>
        </td>
      </tr>
      <tr>
        <td class="globe"></td>
        <td align="left">https://mail.google.com</td>
        <td align="left">riadh.chtara@gmail.com</td>
        <td align="left">
          <form novalidate>
            <div class="input-row password-row">
              <label class="label-helper"></label>
              <input type="password" class="password" id="old_password" value="password" />

              <input id="show-old-password" type="checkbox" class="show-password" aria-controls="old_password" tabindex="-1" data-novalue />
              <label for="show-old-password" class="show-password-label">
                {{#t}}Show{{/t}}
              </label>
            </div>
          </form>
        </td>
      </tr>
    </table>


    {{#canGoBack}}
      <div class="links">
        <a id="back" href="#">{{#t}}Back{{/t}}</a>
      </div>
    {{/canGoBack}}
  </section>
</div>
