html {
  background-color: #F2F2F2;
}


.container {
  position:relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  border:1px solid #ccc;
  max-width:875px;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  margin:auto;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
}


.login-list-box {
  -webkit-box-ordinal-group:2;
  -webkit-order:1;
     -moz-box-ordinal-group:2;
      -ms-flex-order:1;
          order:1;
  border-right: 1px solid #ccc;
  max-width:300px;
}

.login-detail {
  -webkit-box-ordinal-group:3;
  -webkit-order:2;
     -moz-box-ordinal-group:3;
      -ms-flex-order:2;
          order:2;
  max-width: 375px;
}

.login-list-box, .login-detail {
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
     -moz-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.search-box {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.login-search, .login-field {
  border-radius:0.8em;
  border:1px solid #ccc;
  padding:0.6em 1em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  color:#999999;
  font-size:1em;
}

.login-search {
  background: url('/images/search.png') no-repeat 10px center;
  background-size: 1.6em;
  padding-left:2.6em;
}

.login-field {
  margin-bottom: 20px;
}

.login-list-wrapper {
  overflow:auto;
  max-height:440px;
}

.login-list {
  margin:0;
  padding:0;
}

.login-item {
  list-style:none;
  height:40px;
  padding:10px;
  padding-left:60px;
  line-height:20px;
  cursor:pointer;
  background: url('/images/blue_globe.png') no-repeat 10px center;
  background-size: 40px;
}

.blue-globe {
  background: url('/images/blue_globe.png') no-repeat 10px center;
  background-size: 40px;
}
.red-globe {
  background: url('/images/red_globe.png') no-repeat 10px center;
  background-size: 40px;
}
.yellow-globe {
  background: url('/images/yellow_globe.png') no-repeat 10px center;
  background-size: 40px;
}

.login-list > .login-item:hover {
  background: url('/images/white_globe.png') no-repeat 10px center;
  background-color:#007bff;
  background-size: 40px;
  color:#fff;
}

.login-list > .login-item:hover > .domain {
  color:#fff;
}

.page-name {
  font-weight: normal;
  display: block;
}

.domain {
  color:#999999;
}

.login-detail {
  padding:60px 30px 0;
  position: relative;
}

.login-detail .login-item {
  padding-left:50px;
  background-position:0px center;
}

.login-content {
  margin:20px 0;
}

.copy {
  position:absolute;
  margin-left:-2.7em;
  width:2.7em;
  height:2.9em;
  border:none;
  border-radius:0 0.8em 0.8em 0;
  background: url('/images/copy_t.png') no-repeat 10px center;
  background-size: 20px;
  border:1px solid #ccc;
}

.copy:hover {
  background-color:#eee;
}

.copy:active {
  background-color:#ddd;
}

.back-button {
  position:absolute;
  right:15px;
  bottom:10px;
  text-decoration: none;
  color: #0095DD;
}

@media all and (max-width: 500px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .container::before {
    left:auto;
    right:5px;
    top:5px;
    width:78px;
    height:80px;
    background-size: 78px 80px;
  }

  .login-list-box {
    -webkit-box-ordinal-group:3;
    -webkit-order:2;
       -moz-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2;
    max-width:100%;
    border:none;
  }

  .login-detail {
    -webkit-box-ordinal-group:2;
    -webkit-order:1;
       -moz-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
    max-width: 100%;
    border:none;
    border-bottom:1px solid #ccc;
    padding:30px 10px 0;
  }
}
